
Code
JetBrains
Thonny
Thunar
VirtualBox
blender/3.0/config
cat_installer
cef_user_data/WidevineCdm
composer
dconf
enchant
eog
evince
evolution/sources/system-calendar.source
evolution/sources
filezilla
flameshot
font-manager
fontconfig/conf.d
gedit
gnome-control-center/backgrounds
gtk-3.0
ibus/bus
jxbrowser/7.26/crash-reports
libreoffice/4/user
lingot
mc
menus
mozc
nautilus
pop-shell
pop-system-updater
pulse
qalculate
rofi
simple-scan
totem
touchegg
vscode-sqltools
wireshark
xfce4
yelp
.aliases.bak
.gsd-keyboard.settings-ported
QtProject.conf
gnome-initial-setup-done
ibus-mozc-gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
phpactor
Mousepad
nvim/plugin/packer_compiled.lua